/*.aux
/rodrigues-chen-rosu-2022-lics.bbl
/rodrigues-chen-rosu-2022-lics.blg
/rodrigues-chen-rosu-2022-lics.fdb_latexmk
/rodrigues-chen-rosu-2022-lics.fls
/rodrigues-chen-rosu-2022-lics.log
/rodrigues-chen-rosu-2022-lics.out
/rodrigues-chen-rosu-2022-lics.xdv
